<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <div>
      <h1>Productos</h1>
      <form action="/api/sessions/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <a href="/carts/{{user.user.cart._id}}">
        <button type="button">Ir al carrito</button>
      </a>
    </div>
    <div>
      <ul>
        {{#each products.payload}}
          <li>
            <p><strong>Producto:</strong>
              {{this.title}}
              -
              <strong>Precio:</strong>
              ${{this.price}}
              -
              <strong>Stock:</strong>
              {{this.stock}}</p>
            <a href="/products/{{this._id}}">Ver detalles</a>
            <br />
            <br />
            <form class="addToCartForm">
              <input type="hidden" name="productId" value="{{this._id}}" />
              <input type="hidden" name="quantity" value="1" />
              <button type="submit">Agregar al carrito</button>
            </form>
          </li>
        {{/each}}
      </ul>
    </div>
    <br />
    <div>
      {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}>&lt;&lt; Anterior</a>
      {{/if}}
      &nbsp;
      {{products.page}}
      &nbsp;
      {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente &gt;&gt;</a>
      {{/if}}
    </div>
    <script src="/js/addToCart.js"></script>
  </body>
</html>